<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>중고 거래</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments :: navi}"></div>
<!-- SIDE BAR -->
<div th:replace="~{fragments :: side}"></div>
<!-- section-->
<div class="container pt-5">
    <div class="row gutters-sm d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">이름</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" th:text="${user.getUsername()}">
                            이름
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">닉네임</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" th:text="${user.getNick()}">
                            닉네임
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">연락처</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" th:text="${user.getPhoneNum()}">
                            연락처
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
